.btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8px;
	padding: 10px 15px;
	cursor: pointer;
	background-color: rgb(5, 250, 238);
	color: rgb(169, 51, 182);
	width: 32px;
	height: 32px;
	font-size: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 2px 1px 2px rgb(40, 52, 89);
}

.btn:hover:hover{
	background-color: rgb(241, 146, 243);
	/* color: darkmagenta; */
	color: blue;
	transform: scale(1.05);
}
